@keyframes moveOrb {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(var(--width), calc(var(--height) / 2));
    }

    100% {
        transform: translate(0, 0);
    }
}

.OrbStyled {
    width: var(--width);
    height: var(--height);
    position: absolute;
    border-radius: 50%;
    margin-left: calc(var(--width) * -0.5);
    margin-top: calc(var(--height) * -0.5);
    background: linear-gradient(180deg, #F56692 0%, #F2994A 100%);
    filter: blur(400px);
    animation: moveOrb 15s alternate linear infinite;
}